
<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag "instagram_logo.png" %>
          </a>
        </div>
        <% if user_signed_in? %>
          <div class="m-auto">
            <form class="form-inline search-form">
              <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
            </form>
          </div>
        <% end %>
        <div class="user-section">
          <% if user_signed_in? %>
            <a><i class="fa fa-compass"></i></a>
            <a><i class="fa fa-heart"></i></a>
            <a href="<%= destroy_user_session_path %>" data-method="delete">
                <i class="fa fa-sign-in"></i>
            </a>
            <a href="<%= user_path(current_user) %>">
              <i class="fa fa-user"></i>
            </a>
          <% else %>
            <p>Tem uma conta?</p>
            <a href="<%= new_user_session_path %>">
              <p>Conecte-se</p>
            </a>
          <% end %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px; padding-top: 100px">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US
          </li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
        </ul>
        <p> © <%= Time.current.year %> INSTAGRAM </p>
      </nav>
    </footer>
  </body>
</html>
